<div class="grid-container">
  <h1>
    Hey Bubble, <br />
    This is your to-do list.
  </h1>

  <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event.target.innerWidth)" rowHeight="1:1"
    class="grid-list" [gutterSize]="'20px'" style="box-sizing: border-box;">
    <mat-grid-tile *ngFor="let todo of todos" (click)="todoEdit(todo.id)">
      <mat-card class="tile-card">
        <!-- <mat-card-header>
          <mat-card-title>{{tile.text}}</mat-card-title>
        </mat-card-header> -->
        <p>
          <span [ngStyle]="{'background-color': todo.color, 'display': 'inline'}">
            {{todo.tag}}
          </span>
        </p>
        <mat-card-content>
          {{todo.description}}
        </mat-card-content>

        <!-- <mat-card-footer class="footer-card">
          <p>bye</p>
        </mat-card-footer> -->
        <p id="bottom">{{todo.date}}</p>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div>
  <button mat-button (click)=(onClickAddTodo())>
    <mat-icon class="add-icon">add_circle</mat-icon>
  </button>
</div>